﻿
@{
    ViewBag.Title = "Resources";
}

    <h1>@ViewBag.Title</h1>
       
    <p>
        As always, the <a href="http://www.sqlite.org/docs.html">official SQLite documentation</a> is a good 
        place to start learning about SQLite. The official site also has a comprehensive list of tools and 
        resources for various platforms and programming languages.
    </p>

    <h3>.NET</h3>
    <p>
        <a href="http://system.data.sqlite.org/">System.Data.SQLite</a> is a .NET ADO library for SQLite. 
        The <a href="http://www.nuget.org/packages/system.data.sqlite">SQLite Nuget package</a> will also allow you to use entity framework with sqlite.
    </p>

    <h3>Objective-C (iOS)</h3>
    <p>
        If you're programming for iOS, you can use the SQLite C library, which is included with XCode. 
        However, it can be cumbersome to use, so <a href="https://github.com/ccgus/fmdb">FMDB</a> is a nice wrapper around it.
    </p>

    <h3>Unity</h3>
    <p>
        On the desktop, SQLite is easy to use - just use the .NET library mentioned above. 
        On iOS however, SQLite can be tricky to get working with Unity, but it is possible. Here is a <a href="http://gamesforsoul.com/2012/03/sqlite-unity-and-ios-a-rocky-relationship/">good tutorial </a>
        walking through it.
    </p>

    <h3>Java - JDBC</h3>
    <p>
        For desktop Java applications, you can use the <a href="https://bitbucket.org/xerial/sqlite-jdbc">JDBC driver for SQLite</a>.
    </p>

    <h3>Java - Android</h3>
    <p>
        SQLite is included with Android, so there's no need to add any special libraries to an Android project. 
    </p>
    <p>
        If you want to include a 
        prepopulated SQLite database with an Android app, <a href="https://github.com/jgilfelt/android-sqlite-asset-helper">SQLite Asset Helper</a>
        can be useful for including and loading the database file.
    </p>