﻿<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A tool to convert an Excel or CSV file to a SQLite file">
    <meta name="author" content="">

    <meta name="msvalidate.01" content="7B39446531F7B4D656485D21BFB20BBB" />

    <title>@ViewBag.Title - Convert To SQLite</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom Theme CSS -->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-55011492-1', 'auto');
    ga('send', 'pageview');

    </script>

    <!-- addthis-->
    <script async type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5729808c75d6511a"></script>
</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="col-md-6 col-md-push-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/"><h1>Convert To SQLite Online</h1></a>
                </div>
                <!-- /.navbar-header -->
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="@Url.Action("Resources", "Pages")">Resources</a>
                </li>
            </ul>
        </nav>

        <div id="page-wrapper" class="clearfix">
            <div class="col-md-8 col-md-push-2 ad-wrapper">
                <aside>From our sponsors:</aside>

                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Header Responsive 1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1457687322736119"
                     data-ad-slot="5664255584"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="col-md-8 col-md-push-3">
                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
            
            <div class="col-md-8 col-md-push-2  ad-wrapper">
                <aside>From our sponsors:</aside>

                <!-- Header Responsive 2 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-1457687322736119"
                     data-ad-slot="9643469989"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="~/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/plugins/metisMenu/metisMenu.min.js"></script>
    
   <!-- Custom Theme JavaScript -->
   <script src="~/js/sb-admin-2.js"></script>

</body>

</html>
