﻿@model ExcelToSqlite.Models.HomeIndex

@{
    ViewBag.Title = "Convert Files To SQLite Online";
}


    <h3>Convert CSV or Excel File To SQLite</h3>
    <p>
        This tool will convert a CSV or Excel xls/xlsx file to a SQLite database file. Upload your file below to begin.
    </p>

    @using (Html.BeginForm("Excel", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">Upload CSV or Excel File</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>File To Convert</label>
                    <input type="file" name="File" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(x => x.FileOptions.IsFirstRowAsColumnNames)
                            First Row Contains Column Names
                        </label>
                    </div>
                </div>

                <input type="submit" value="Upload" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    }

    <p>
        <h3>What Is SQLite?</h3>
        <p>
            <a href="http://sqlite.org" target="_blank">SQLite</a> is a popular serverless SQL database, 
            used to embed data locally in an application. SQLite is commonly used in mobile apps/games,
            as well as other settings where a local database can come in handy.
        </p>

        <p>
            There are many SQLite libraries available in various programming languages - such as C/C++, .NET, Objective-C and Java.
            For more information, see our <a href="@Url.Action("Resources", "Pages")">resources</a> page.
        </p>
    </p>
