﻿@model ExcelToSqlite.Models.ExportOptions
@{
    ViewBag.Title = "Conversion Options";
}

    <h3>@ViewBag.Title</h3>
    @using (Html.BeginForm("Export", "Home"))
    {

        <div class="panel panel-primary">
            <div class="panel-heading">Table Options</div>
            <div class="panel-body">

                @for (int i = 0; i < Model.Tables.Count; i++)
                {
                    <div class="panel panel-info">
                        <div class="panel-heading">@Model.Tables[i].Name</div>
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(x => x.Tables[i].ShouldIncludeInExport)
                                        Include In Export
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Table Name</label>
                                @Html.HiddenFor(x => x.Tables[i].Name)
                                @Html.TextBoxFor(x => x.Tables[i].NewName, new { @class = "form-control" })
                            </div>

                            <h5>Columns</h5>

                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Column Name</th>
                                            <th>New Column Name</th>
                                            <th>Column Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int col = 0; col < Model.Tables[i].Columns.Count(); col++)
                                        {
                                            <tr>
                                                @{
                                            var Column = Model.Tables[i].Columns[col];
                                                }
                                                @Html.HiddenFor(x => x.Tables[i].Columns[col].Name)
                                                <td>@Column.Name</td>
                                                <td>
                                                    @Html.TextBoxFor(x => x.Tables[i].Columns[col].NewName, new { @class = "form-control" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(x => x.Tables[i].Columns[col].ColumnType, Model.ColumnTypes, new { @class = "form-control" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    if (Model.Tables.Count >= 3 && i == 1)
                    {
                        <div class="panel panel-info">
                            <div class="panel-heading">From Our Sponsors</div>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <!-- Mid Ad 1 -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:336px;height:280px"
                                         data-ad-client="ca-pub-1457687322736119"
                                         data-ad-slot="3895022381"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Mid Ad 2 -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:336px;height:280px"
                                         data-ad-client="ca-pub-1457687322736119"
                                         data-ad-slot="5371755587"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">File Options</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Final File Name</label>
                    @Html.TextBoxFor(x => x.ExportFileName, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">From Our Sponsors</div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <!-- Convert Ad 1 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-1457687322736119"
                         data-ad-slot="3895022381"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="col-lg-6">
                    <!-- Convert Ad 2 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:336px;height:280px"
                         data-ad-client="ca-pub-1457687322736119"
                         data-ad-slot="5371755587"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert!" class="btn btn-success btn-lg btn-block" />
        </div>

    <div>
        <h3>Like this tool? Spread the word!</h3>
        
        <div>
            <div class="addthis_sharing_toolbox"></div>
        </div>
    </div>
    }